@import url(font.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #383838;
    margin: 0 auto;
}

.reset-button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    cursor: pointer;
}
/* Styles for main section*/
.main {
    background: url(../img/project_images/mainpage-image.png) no-repeat top / cover;
}

.main-container {
    max-width: 1440px;
    min-height: 100vh;
    padding: 3.1875rem 6.5rem 7.5rem;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 205px;
    height: 40px;
    display: block;
    object-fit: contain;
}

.header-list {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    gap: 0 24px;
}

.header-items {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
}
.header-items:nth-child(2) {
    margin-right: 48px;
}
.header-items-link {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}
.header-items-link::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background-color: #F5BD41;
    position: absolute;
    bottom: -12px;
    transition-property: width;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.header-items-link:hover::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #F5BD41;
    position: absolute;
    bottom: -12px;
}
.header-items-button {
    color: #FFFFFF;
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.header-items-button:hover {
    color: #F5BD41;
}
.main-title {
    max-width: 33.875rem;
    font-size: 3.125rem;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 12.625rem;
    margin-bottom: 6.25rem;
}

.main-search {
    margin-bottom: 7.5rem;
    position: relative;
    z-index: 2;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.search-input {
    border: 3px solid #F3F3F4;
}

.label {
    padding-left: 1.5rem;
}

.label-search {
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 400;
    display: inline-block;
}

.search-input {
    padding: 1.3125rem 1.5rem 1.375rem;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 1.5rem;
}

.input-place {
    min-width: 28.2rem;
    border-radius: 8px 0 0 8px;
}

.input-place:focus, .input-conditions:focus, .input-date:focus {
    border: 3px solid #F5BD41;
    border-radius: 8px;
    outline: none;
}

.input-date {
    flex-basis: 16.1875rem;
    padding-right: 1.5rem;
}

.input-conditions {
    min-width: 19.375rem;
    padding-right: 1.5rem;
}

.button {
    flex-basis: 12rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.button-search-blue {
    color: #ffffff;
    background-color: #3077C6;
    padding: 1.1875rem 3.5625rem;
    border: 3px solid #3077C6;
    border-radius: 8px;
}

.main-search::before {
    content: "";
    position: absolute;
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    height: 70px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.main-applications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-applications-google {
    width: 135px;
    height: 40px;
    margin-right: 1.0625rem;
    list-style: none;
}

.main-applications-apple {
    width: 118px;
    height: 38px;
    list-style: none;
}

/* styles for What do we offer section */
.offer-container {
    margin: 0 auto;
    max-width: 1440px;
    min-height: auto;
    background-color: #ffff;
    padding: 7.5rem 6.5rem 7.625rem;
}

.offer-title {
    position: relative;
    margin-bottom: 6.5rem;
    margin-top: 0;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
}

.offer-title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 45%;
    width: 6.25rem;
    height: 0.25rem;
    background-color: #F5BD41;
    margin-top: 1.25rem;
}

.offer-blocks-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.block {
    height: auto;
    list-style: none;
    margin-right: 1rem;
    flex: 1 1 23%;
}

.block:last-child {
    margin-right: 0;
}

.img-container {
    width: 6.25rem;
    height: 6.25rem;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.block-info {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 3rem 0 0 0;
    text-align: center;
}
/*Styles for Homes visitors love section*/
.homes {
    background-color: #EAF0F9;
    display: flex;
    flex-direction: column;
}

.homes-container {
    max-width: 90rem;
    min-height: 51.75rem;
    margin: 0 auto;
    padding: 7.5rem 6.5rem;
    position: relative;
}

.homes-title {
    color: #383838;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 6.5625rem;
    text-align: center;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 23%;
}
.home-image-1 {
    background: url(../img/project_images/leopold-img.png) no-repeat center / contain;
    width: 18.4175rem;
    height: 18.4175rem;
}
.home-image-2 {
    background: url(../img/project_images/sunshine-img.png) no-repeat center / contain;
    width: 18.4175rem;
    height: 18.4175rem;
}
.home-image-3 {
    background: url(../img/project_images/kunerad-img.png) no-repeat center / contain;
    width: 18.4175rem;
    height: 18.4175rem;
}
.home-image-4 {
    background: url(../img/project_images/friendship-img.png) no-repeat center / contain;
    width: 18.4175rem;
    height: 18.4175rem;
}
.home-name {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #3077C6;
    font-size: 1.5rem;
}

.home-location {
    color: #BFBFBF;
    font-size: 1.5rem;
}

.home-slider-button {
    position: absolute;
    left: calc(100% - 7.5rem);
    bottom: 47%;
    background: url(../img/project_images/slider-arrow-next.png) no-repeat center / contain;
    object-fit: contain;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
}

/* styles for Footer section */
.footer {
    background-color: #10367C;
    color: #ffffff;
}

.footer-wrapper {
    padding: 7.5rem 6.5rem;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-logo {
    display: none;
    width: 6.125rem;
    height: 1.1875rem;
    background: url(../img/project_images/logo-icon-white.png) no-repeat center / contain;
    margin: 0 auto 2.5rem;
}

.footer-container {
    display: flex;
}

.footer-list {
    list-style: none;
    flex-basis: 33.3%;
}

.footer-item {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4375;
    margin-bottom: 1.5rem;
}

.footer-list-title {
    font-weight: 500;
}

.footer-copyright {
    font-size: 0.875rem;
    margin-top: 2.5rem;
}

.svg-container {
    display: none;
}

/*Media queries for Offer and footer section*/
@media screen and (max-width: 1024px) {
    .offer-container {
        max-width: 1000px;
        padding: 5.5rem 6.5rem 5.625rem;
    }

    .block {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .block-info {
        font-size: 1.25rem;
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .footer-item {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .offer-blocks-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
    }

    .offer-container {
        max-width: 768px;
        padding: 4.5rem 5.5rem 4.625rem;
    }

    .offer-title {
        font-size: 2rem;
    }

    .img-container {
        width: 6.25rem;
        height: 6.25rem;
    }

    .block {
        margin: 0;
    }

    .block-info {
        font-size: 1.25rem;
        margin: 0;
    }

    .offer-title-line {
        margin: 0 auto 3rem;
    }
}

@media screen and (max-width: 768px) {
    .footer-wrapper {
        max-width: 768px;
        padding: 3.5rem 4rem;
        color: #ffffff;
    }

    .footer-container {
        display: flex;
    }

    .footer-list {
        list-style: none;
        flex-basis: 33.3%;
    }

    .footer-item {
        font-weight: 400;
        font-size: 0.85rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    .footer-list:not(:first-child) {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 560px) {
    .footer-wrapper {
        max-width: 760px;
        padding: 2.5rem 3.5rem;
    }

    .footer-container {
        text-align: center;
        justify-content: space-between;
    }

    .footer-logo {
        display: flex;
    }

    .footer-list {
        flex: 1 1 auto;
    }

    .footer-list:not(:last-child) {
        margin-right: 0.75rem;
    }

    .footer-item:not(:first-child) {
        display: none;
    }

    .footer-item:first-child {
        font-size: 0.9375rem;
    }

    .footer-copyright {
        font-size: 0.75rem;
        margin-top: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .offer-container {
        width: 100%;
        padding: 1.5rem 4.5625rem 2.5rem;
    }

    .offer-title {
        font-size: 1.75rem;
        margin-bottom: 2.125rem;
    }

    .offer-blocks-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 2rem;
    }

    .block-info {
        font-size: 0.9375rem;
        margin-top: 1.5rem;
    }

    .offer-title-line {
        display: none;
    }
}
/*Media queries for Homes visitors love section*/
@media screen and (max-width: 1127px) {
    .homes-title {
        margin-bottom: 5rem;
    }
    .cards {
        justify-content: space-evenly;
    }
    .home-location {
        margin-bottom: 1rem;
    }
}

